@model Bit.Core.Models.Mail.InvoiceUpcomingViewModel
@{
    Layout = "_BasicMailLayout";
}
<p>
    This is a reminder that your Bitwarden subscription is due for renewal soon.
    Your payment method on file will be charged for <b>@Model.AmountDue.ToString("C")</b> on
    <b>@Model.DueDate.ToString("MMM dd, yyyy")</b>.
</p>
<p>
    <b><u>Summary Of Charges</u></b><br />
    @foreach(var item in Model.Items)
    {
        @:- @item<br />
    }
</p>

<p>
    To avoid any interruption in service, please ensure that your payment method
    on file is up to date and can be charged for the above amount. You can manage your
    subscription and payment method by logging into the web vault at
    <a href="@Model.WebVaultUrl" target="_blank">@Model.WebVaultUrl</a>. Once logged in,
    navigate to the Billing page for your account.
</p>

@if(Model.MentionInvoices)
{
    <p>
        Invoices for your payments can also be downloaded from Billing page for your account.
    </p>
}
<p>
    If you have any questions or problems, please feel free to email us at
    hello@bitwarden.com.
</p>
