@model OrganizationViewModel
<dl class="row">
    <dt class="col-sm-4 col-lg-3">Id</dt>
    <dd class="col-sm-8 col-lg-9"><code>@Model.Organization.Id</code></dd>

    <dt class="col-sm-4 col-lg-3">Plan</dt>
    <dd class="col-sm-8 col-lg-9">@Model.Organization.Plan</dd>

    <dt class="col-sm-4 col-lg-3">Expires</dt>
    <dd class="col-sm-8 col-lg-9">@(Model.Organization.ExpirationDate?.ToString() ?? "-")</dd>

    <dt class="col-sm-4 col-lg-3">Users</dt>
    <dd class="col-sm-8 col-lg-9">
        @Model.OccupiedSeatCount / @(Model.Organization.Seats?.ToString() ?? "-")
        (<span title="Invited">@Model.UserInvitedCount</span> /
        <span title="Accepted">@Model.UserAcceptedCount</span> /
        <span title="Confirmed">@Model.UserConfirmedCount</span>)
    </dd>

    <dt class="col-sm-4 col-lg-3">Owners</dt>
    <dd class="col-sm-8 col-lg-9">@(string.IsNullOrWhiteSpace(Model.Owners) ? "None" : Model.Owners)</dd>

    <dt class="col-sm-4 col-lg-3">Admins</dt>
    <dd class="col-sm-8 col-lg-9">@(string.IsNullOrWhiteSpace(Model.Admins) ? "None" : Model.Admins)</dd>

    <dt class="col-sm-4 col-lg-3">Using 2FA</dt>
    <dd class="col-sm-8 col-lg-9">@(Model.Organization.TwoFactorIsEnabled() ? "Yes" : "No")</dd>

    <dt class="col-sm-4 col-lg-3">Items</dt>
    <dd class="col-sm-8 col-lg-9">@Model.CipherCount</dd>

    <dt class="col-sm-4 col-lg-3">Collections</dt>
    <dd class="col-sm-8 col-lg-9">@Model.CollectionCount</dd>

    <dt class="col-sm-4 col-lg-3">Groups</dt>
    <dd class="col-sm-8 col-lg-9">@Model.GroupCount</dd>

    <dt class="col-sm-4 col-lg-3">Policies</dt>
    <dd class="col-sm-8 col-lg-9">@Model.PolicyCount</dd>

    <dt class="col-sm-4 col-lg-3">Public/Private Keys</dt>
    <dd class="col-sm-8 col-lg-9">@(Model.HasPublicPrivateKeys ? "Yes" : "No")</dd>

    <dt class="col-sm-4 col-lg-3">Created</dt>
    <dd class="col-sm-8 col-lg-9">@Model.Organization.CreationDate.ToString()</dd>

    <dt class="col-sm-4 col-lg-3">Modified</dt>
    <dd class="col-sm-8 col-lg-9">@Model.Organization.RevisionDate.ToString()</dd>
</dl>
