@model OrganizationEditModel
@{
    ViewData["Title"] = (Model.Provider != null ? "Client " : string.Empty) + "Organization: " + Model.Organization.Name;
}

@section Scripts {
    @await Html.PartialAsync("_OrganizationFormScripts")
    
    <script>
        (() => {
            document.getElementById('teams-trial').addEventListener('click', () => {
                if (document.getElementById('@(nameof(Model.PlanType))').value !== '@((byte)Bit.Core.Enums.PlanType.Free)') {
                    alert('Organization is not on a free plan.');
                    return;
                }
                togglePlanSettings('@((byte)Bit.Core.Enums.PlanType.TeamsAnnually)');
                document.getElementById('@(nameof(Model.Plan))').value = 'Teams (Trial)';
            });
            document.getElementById('enterprise-trial').addEventListener('click', () => {
                if (document.getElementById('@(nameof(Model.PlanType))').value !== '@((byte)Bit.Core.Enums.PlanType.Free)') {
                    alert('Organization is not on a free plan.');
                    return;
                }
                togglePlanSettings('@((byte)Bit.Core.Enums.PlanType.EnterpriseAnnually)');
                document.getElementById('@(nameof(Model.Plan))').value = 'Enterprise (Trial)';
            });
        })();
    </script>
}

<h1>@(Model.Provider != null ? "Client " : string.Empty)Organization <small>@Model.Organization.Name</small></h1>

@if (Model.Provider != null)
{
    <h2>Provider Relationship</h2>
    @await Html.PartialAsync("_ProviderInformation", Model.Provider)
}
<h2>Organization Information</h2>
@await Html.PartialAsync("_ViewInformation", Model)
<h2>Billing Information</h2>
@await Html.PartialAsync("_BillingInformation",
    new BillingInformationModel { BillingInfo = Model.BillingInfo, OrganizationId = Model.Organization.Id })
@await Html.PartialAsync("_OrganizationForm", Model)
<div class="d-flex mt-4">
    <button type="submit" class="btn btn-primary" form="edit-form">Save</button>
    <div class="ml-auto d-flex">
        <button class="btn btn-secondary mr-2" type="button" id="teams-trial">
            Teams Trial
        </button>
        <button class="btn btn-secondary mr-2" type="button" id="enterprise-trial">
            Enterprise Trial
        </button>
        <form asp-action="Delete" asp-route-id="@Model.Organization.Id"
              onsubmit="return confirm('Are you sure you want to delete this organization?')">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>
</div>
