{{#>TitleContactUsHtmlLayout}}
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="display: table; width:100%; padding: 30px; text-align: left;" align="center">
        <tr>
            <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 24px; margin-top: 30px; margin-bottom: 25px; margin-left: 35px; margin-right: 35px;">
                <p style="margin: 0 0 24px 0;">An {{OrganizationName}} admin has claimed the domain @{{{DomainName}}}. Your email address {{{UserEmail}}} matches this, so your&nbsp;Bitwarden account is now managed by {{OrganizationName}}.</p>
            </td>
        </tr>
        <tr>
            <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 24px; margin-top: 30px; margin-bottom: 25px; margin-left: 35px; margin-right: 35px;">
                <p style="margin: 0 0 12px 0;"><b>What this means for you</b></p>
                <ul style="margin: 0 0 24px 0; padding-left: 20px;">
                    <li style="margin-bottom: 8px;">Your day-to-day use of Bitwarden remains the same.</li>
                    <li style="margin-bottom: 8px;">Only store work-related items in your {{OrganizationName}} vault.</li>
                    <li style="margin-bottom: 8px;">{{OrganizationName}} admins now manage your account, meaning they can revoke or delete your account.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 24px; margin-top: 30px; margin-bottom: 25px; margin-left: 35px; margin-right: 35px;">
                <p style="margin: 0;">For more information, please refer to the following help&nbsp;article: <a href="https://bitwarden.com/help/claimed-accounts" style="color: #175DDC; font-weight: 700; text-decoration: none;">Claimed&nbsp;accounts</a></p>
            </td>
        </tr>
    </table>
{{/TitleContactUsHtmlLayout}}
